.tasks-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
}

.tasks-title {
    font-size: 1.8rem;
}

.tasks-bar {
    border: 1px solid #fff;
    border-radius: .3rem;
    margin-top: .5rem;
    width: 80%;
}

.task-bg {
    background-color: #17B169;
    width: 0;
    transition: 2s;
}

.barPercent {
    transform: translateX(47.5rem);
}